.profile{
    width:175px;
    margin-bottom: 50px;
   border-radius: 50%;
 
}
body{
  text-align:center;
   background: linear-gradient( #124cfc 0%,#ffb3f0 100%)
  
}
.line{
    height:6px;
    background-color: blue;
    width: 70px;
  margin: 8px auto;}
#bio{
    padding: 50px;
    text-align: center;
  font-size: 20px;}
  .menu{
    list-style: none;
    top:10px;
    right:30px;
    font-family:cursive;
    position:absolute;
    cursor: pointer;
    z-index: 10;
}
.links{
    float:left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-family: fantasy;
    font-size: 20px;
    color:white;
}
.links:hover{
    background-color: black;
}